In [26]:
# 일반 음식점 지역별 전처리
import pandas as pd

food = pd.read_csv('C:/Users/SHON/Desktop/KDT\프로젝트/프로젝트 데이터/전처리 후/서울특별시 일반음식점 인허가 정보.csv', encoding = 'cp949')
food = food[food['영업상태']=='영업']
food.dropna(inplace = True)
food.drop('영업상태',axis = 'columns', inplace = True)
food

                                                 도로명주소
1                             서울특별시 종로구 삼일대로 382 (관철동)
2                      서울특별시 관악구 신림로59길 15-13 4층 (신림동)
3                 서울특별시 강남구 봉은사로16길 14 지하1층 주방4호 (역삼동)
5                        서울특별시 구로구 구로동로22길 21 1층 (구로동)
6                  서울특별시 강남구 삼성로85길 33 1층 102-2호 (대치동)
...                                                ...
467956               서울특별시 동작구 여의대방로24길 85-1 (대방동(1층))
467957                 서울특별시 영등포구 도신로 195-6 (신길동 지상1층)
467959  서울특별시 강동구 올림픽로91길 30 상가동 1층 129호 (암사동 힐스테이트암사)
467960                         서울특별시 노원구 공릉로 104 (공릉동)
467967            서울특별시 용산구 효창원로104마길 23 (청파동1가(지상1층))

[122356 rows x 1 columns]

In [27]:
address = food['도로명주소'].str.split(n = 2, expand = True)
address

            0     1                                     2
1       서울특별시   종로구                        삼일대로 382 (관철동)
2       서울특별시   관악구                 신림로59길 15-13 4층 (신림동)
3       서울특별시   강남구            봉은사로16길 14 지하1층 주방4호 (역삼동)
5       서울특별시   구로구                   구로동로22길 21 1층 (구로동)
6       서울특별시   강남구             삼성로85길 33 1층 102-2호 (대치동)
...       ...   ...                                   ...
467956  서울특별시   동작구               여의대방로24길 85-1 (대방동(1층))
467957  서울특별시  영등포구                  도신로 195-6 (신길동 지상1층)
467959  서울특별시   강동구  올림픽로91길 30 상가동 1층 129호 (암사동 힐스테이트암사)
467960  서울특별시   노원구                         공릉로 104 (공릉동)
467967  서울특별시   용산구            효창원로104마길 23 (청파동1가(지상1층))

[122356 rows x 3 columns]

In [28]:
food['행정구'] = address[1]
food.drop('도로명주소', axis = 'columns')
food

                                                 도로명주소   행정구
1                             서울특별시 종로구 삼일대로 382 (관철동)   종로구
2                      서울특별시 관악구 신림로59길 15-13 4층 (신림동)   관악구
3                 서울특별시 강남구 봉은사로16길 14 지하1층 주방4호 (역삼동)   강남구
5                        서울특별시 구로구 구로동로22길 21 1층 (구로동)   구로구
6                  서울특별시 강남구 삼성로85길 33 1층 102-2호 (대치동)   강남구
...                                                ...   ...
467956               서울특별시 동작구 여의대방로24길 85-1 (대방동(1층))   동작구
467957                 서울특별시 영등포구 도신로 195-6 (신길동 지상1층)  영등포구
467959  서울특별시 강동구 올림픽로91길 30 상가동 1층 129호 (암사동 힐스테이트암사)   강동구
467960                         서울특별시 노원구 공릉로 104 (공릉동)   노원구
467967            서울특별시 용산구 효창원로104마길 23 (청파동1가(지상1층))   용산구

[122356 rows x 2 columns]

In [31]:
food = food.groupby('행정구').count()

In [33]:
food.rename(columns = {'도로명주소':'일반음식점수'}, inplace = True)
food.to_csv('C:/Users/SHON/Desktop/KDT\프로젝트/프로젝트 데이터/전처리 후/서울시 일반음식점 수.csv')

In [117]:
adult_esta = pd.read_csv('C:/Users/SHON/Desktop/KDT\프로젝트/프로젝트 데이터/전처리 후/서울특별시 유흥주점영업 인허가 정보.csv', encoding = 'cp949')
adult_esta

       영업상태                                             도로명주소
0        폐업              서울특별시 종로구 삼일대로 403-1 세인빌딩 지하1층 (인사동)
1        폐업                          서울특별시 광진구 광나루로 345 (군자동)
2     영업/정상                          서울특별시 강동구 진황도로43길 3 (길동)
3     영업/정상                     서울특별시 관악구 시흥대로 570 지하1층 (신림동)
4        폐업                  서울특별시 중구 남대문로9길 39 (을지로1가(지하1층))
...     ...                                               ...
4871  영업/정상                       서울특별시 서대문구 연세로2길 7 2층 (창천동)
4872  영업/정상  서울특별시 마포구 서강로 131 신촌아이스페이스오피스텔 지하1층 비101호 (노고산동)
4873  영업/정상                      서울특별시 관악구 신림로 362 지하1층 (신림동)
4874     폐업                        서울특별시 광진구 동일로 170 (화양동 29)
4875  영업/정상                   서울특별시 송파구 송파대로30길 8 (가락동(지하1층))

[4876 rows x 2 columns]

In [118]:
adult_esta = adult_esta[adult_esta['영업상태']=='영업/정상']
adult_esta.drop('영업상태',axis = 'columns',inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [119]:
address = adult_esta['도로명주소'].str.split(n=2, expand = True)
address

          0     1                                       2
2     서울특별시   강동구                          진황도로43길 3 (길동)
3     서울특별시   관악구                     시흥대로 570 지하1층 (신림동)
5     서울특별시   은평구                     통일로 724 (불광동(지하1층))
9     서울특별시   강남구         테헤란로77길 11-3 에이스 지상 8910층 (삼성동)
10    서울특별시   강서구                  화곡로 316 지하 1층 (화곡동 6동)
...     ...   ...                                     ...
4870  서울특별시    중구                          을지로 78 (을지로2가)
4871  서울특별시  서대문구                        연세로2길 7 2층 (창천동)
4872  서울특별시   마포구  서강로 131 신촌아이스페이스오피스텔 지하1층 비101호 (노고산동)
4873  서울특별시   관악구                      신림로 362 지하1층 (신림동)
4875  서울특별시   송파구                   송파대로30길 8 (가락동(지하1층))

[1858 rows x 3 columns]

In [120]:
adult_esta['행정구'] = address[1]
adult_esta

<ipython-input-120-2234c302b0a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_esta['행정구'] = address[1]

                                                 도로명주소   행정구
2                             서울특별시 강동구 진황도로43길 3 (길동)   강동구
3                        서울특별시 관악구 시흥대로 570 지하1층 (신림동)   관악구
5                        서울특별시 은평구 통일로 724 (불광동(지하1층))   은평구
9            서울특별시 강남구 테헤란로77길 11-3 에이스 지상 8910층 (삼성동)   강남구
10                    서울특별시 강서구 화곡로 316 지하 1층 (화곡동 6동)   강서구
...                                                ...   ...
4870                           서울특별시 중구 을지로 78 (을지로2가)    중구
4871                       서울특별시 서대문구 연세로2길 7 2층 (창천동)  서대문구
4872  서울특별시 마포구 서강로 131 신촌아이스페이스오피스텔 지하1층 비101호 (노고산동)   마포구
4873                      서울특별시 관악구 신림로 362 지하1층 (신림동)   관악구
4875                   서울특별시 송파구 송파대로30길 8 (가락동(지하1층))   송파구

[1858 rows x 2 columns]

In [121]:
adult_esta = adult_esta.groupby('행정구').count()
adult_esta.rename(columns = {'도로명주소':'유흥주점수'}, inplace = True)
adult_esta
adult_esta.to_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 유흥주점수.csv')

In [99]:
company = pd.read_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 사업체 현황.csv', encoding = 'cp949')
company.rename(columns = {'자치구':'행정구'}, inplace = True)
company = company[company['동'] == '소계']

In [100]:
company.sort_values(by = '행정구', inplace=True)
company.drop('동', axis = 'columns', inplace=True)
company.rename(columns = {'합계':'사업체수'}, inplace=True)
company
#company.to_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 사업체 수.csv')

      행정구    사업체수
382   강남구  71,027
433   강동구  29,080
141   강북구  19,014
258   강서구  39,458
341   관악구  25,505
72    광진구  24,445
279   구로구  38,756
295   금천구  33,814
170   노원구  26,618
155   도봉구  18,628
88   동대문구  31,324
325   동작구  19,793
222   마포구  37,290
207  서대문구  20,095
363   서초구  46,940
54    성동구  28,343
120   성북구  23,617
405   송파구  48,644
239   양천구  25,894
306  영등포구  42,370
37    용산구  20,254
190   은평구  24,681
3     종로구  39,679
21     중구  60,127
103   중랑구  28,228

In [93]:
edu = pd.read_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 사설학원 통계.csv', encoding = 'cp949')
edu.drop(['합계', '입시검정 및 보습', '국제화', '예능', '특수교육', '종합','기타'], axis = 'columns', inplace = True)
edu.rename(columns = {'소계':'학원수', '자치구':'행정구'}, inplace=True)
edu.to_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 학원 수.csv')

# 상관관계 분석 시작

In [168]:
infected = pd.read_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/행정구별 확진자 수.csv',encoding = 'euc_kr')
food = pd.read_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 일반음식점 수.csv',encoding = 'cp949')

In [169]:
adult_esta = pd.read_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 유흥주점수.csv',encoding = 'utf-8')
company = pd.read_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 사업체 수.csv',encoding = 'cp949')
edu = pd.read_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/서울시 학원 수.csv',encoding = 'cp949')

In [170]:
edu.drop('Unnamed: 0', axis = 'columns', inplace = True)
edu

     행정구   학원수
0    강남구  1870
1    강동구   685
2    강북구   184
3    강서구   643
4    관악구   348
5    광진구   348
6    구로구   352
7    금천구   177
8    노원구   671
9    도봉구   283
10  동대문구   299
11   동작구   348
12   마포구   502
13  서대문구   289
14   서초구   881
15   성동구   246
16   성북구   419
17   송파구   988
18   양천구   976
19  영등포구   308
20   용산구   128
21   은평구   478
22   종로구    99
23    중구    53
24   중랑구   242

In [171]:
infected.set_index('행정구', inplace = True)
food.set_index('행정구', inplace = True)
adult_esta.set_index('행정구', inplace = True)
company.set_index('행정구', inplace = True)
edu.set_index('행정구', inplace = True)

In [190]:
corr_data = pd.concat([infected,food,adult_esta, company, edu], axis = 1)
                    
corr_data.drop(['1월','2월','3월','4월','5월','6월','7월','8월','Unnamed: 0'], axis = 'columns', inplace = True)
corr_data.to_csv('C:/Users/SHON/Desktop/KDT/프로젝트/프로젝트 데이터/전처리 후/음식점_학원수.csv')

In [187]:
corr_data.corr()['총 확진자 수']

총 확진자 수    1.000000
일반음식점수     0.572821
유흥주점수      0.200331
사업체수       0.381754
학원수        0.795912
Name: 총 확진자 수, dtype: float64

In [1]:
!pip install folium

Collecting folium
  Downloading folium-0.12.1-py2.py3-none-any.whl (94 kB)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from folium) (2.25.1)
Collecting branca>=0.3.0
  Downloading branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from folium) (1.20.1)
Requirement already satisfied: jinja2>=2.9 in c:\programdata\anaconda3\lib\site-packages (from folium) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2.10)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1

In [2]:
import folium as fo